// Desktop Devices (pc and laptop, 1200px)
.footer-container{ 
    background-color:#0d0e13;
    border-top: 0px solid white;
    padding:30px 20px;

    .big-soc-column{
        text-align: center;
        padding-bottom: 10px;       

        a{
            color:#fff;
        }   
    }

    .soc-column{
        color:#fff;
        margin-bottom:10px;
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block; 
        min-width: 100px;
        max-width: 100px;           
    }

    .soc-icon{
        width:35px;
        height:35px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .copyright-container{
        color:#f2f2f2;
        padding-top:4px;
        font-size:12px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .MobileFooter{
        display: $mobileA;
    }
}
.footer-mobile{
    display: $footerA;
    position: fixed;
        bottom: 0px;
        // 
        background-color: #000;
        z-index: 100;
        width: 100%;  
        text-align: center;
    
        .shortcut-item{
            padding: 10px;
        }
    
        .button-footer-mobile.btn-block{
            background-color: transparent;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .btn.button-footer-mobile.router-link-exact-active.router-link-active.btn-secondary.btn-block{
            background-color: #f1e60d;
            color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2:active{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2:checked{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2:hover{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2:target{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2:focus{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 255, 0, 0.67);
            -moz-box-shadow:    0px 0px 0px 0px rgba(0, 255, 0, 0.67);
            box-shadow:         0px 0px 0px 0px rgba(0, 255, 0, 0.67);
        }
}
.footer-barcode{
    display: block;
    position: fixed;
    bottom: 80px;
    background-color: transparent;
    z-index: 100;
    width: 115px;  
    text-align: center;    
}

// Mobile Devices (landscape phones, 850px)
@media (max-width: 850px) {

    .footer-container{ 
        background-color:#000000;
        border-top: 1px solid white;
        padding:20px 20px 30px 20px;
        
        .big-soc-column{
            text-align: center;
            padding-top: 10px;
    
            a{
                color:#fff;
            }   
        }
    
        .copyright-container{
            color:#f2f2f2;
            padding-top:4px;
            font-size:12px;
            text-align: center;
            font-weight: bold;
            height: 80px;
        }

        .MobileFooter{
            display: $mobileB;            
        }
    }
    
    .footer-mobile{
        display: $footerB;
        position: fixed;
        bottom: 0px;        
        background-color: #000;
        z-index: 100;
        width: 100%;  
        text-align: center;
    
        .shortcut-item{
            padding: 10px;
        }
    
        .button-footer-mobile.btn-block{
            background-color: transparent;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .btn.button-footer-mobile.router-link-exact-active.router-link-active.btn-secondary.btn-block{
            background-color: #f1e60d;
            color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2:active{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2:checked{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2:hover{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2:target{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
        }

        .button-footer-mobile-2:focus{
            background-color: #000;
            border: 0px;
            border-top: 1px solid gray;
            border-radius:0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 255, 0, 0.67);
            -moz-box-shadow:    0px 0px 0px 0px rgba(0, 255, 0, 0.67);
            box-shadow:         0px 0px 0px 0px rgba(0, 255, 0, 0.67);
        }
    }
}