.DesktopHeader{
  display: $desktopA;
}

.MobileHeader{
  display: $mobileA;
}

.modal-header{
  background-color: #310000;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.modal-body{
  padding: 0px;
  margin: 0px;
}

.modal-footer{
  background-color: #000000;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.btn-outline-danger{
  background-color: #310000;
  border: 0px solid red;
  color: white;
}

button.btn.btn-primary{
  background-color: #310000;
  color: white;
}

.header-container {
  background-color: #000;
  // padding-left: 10px;
  // padding-right: 10px;  
  // height: 92px;
  // line-height: 92px;
  // vertical-align: middle;

  .logo-container{        
    vertical-align: middle;
    align-self: start;
    margin-top: 15px;
    margin-bottom: 15px;
    // display: inline-block;
    /*img{
      height:100%;
    }*/
  }

  .row-description-container{   
    margin : 0px;
    padding : 0px;
  }

  .image-logo-container{        
    vertical-align: middle;
    width: 30%;
    //display: inline-block;
    /*img{
      height:100%;
    }*/
  }

  .description-container{   
    margin-top: 10px;     
    text-align: right;
    vertical-align: middle;
    height: 30px;
  }

  .description-container-2{ 
    text-align: right;
    vertical-align: middle;
    line-height: 60px;
    height:60px;
    width:100%;
    margin-left:auto;
  }

  .text-container{    
    color:white; 
    font-size:12px; 
    margin:0px 8px 0px 8px;     
    padding:0px; 
    width:100%;
  }

  .text-barrier-container{    
    color:white; 
    margin:0px 17px 0px 17px;   
    font-weight:bold; 
    font-size:16px;
  }

  .button-after-login-container{   
    margin:0px; 
    padding:0px; 
    width:100%; 
    height: 100%;
  }

  .button-after-login-img{   
    width:100px; 
    height:30px;
  }

  .button-after-login-img-2{   
    width:4.5%;
  }

  .social-column {
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;

    .social-icon {
      width: 30px;
      height: 30px;
      margin-top: -2px;
      margin-right: 5px;
    }
  }

  .ticker-row {
    color: #fff;
    background-color: #a81e22;
    height: 25px;
    line-height: 23px;

    .ticker {
      height: 35px;

      .ticker-content {
        align-self: start !important;
        align-items: flex-start !important;
        vertical-align: top !important;
        align-content: flex-start !important;
      }
    }
  }

  .col-middle{
    vertical-align: middle;
  }

  .account-column-2 {
    text-align: right;
    vertical-align: middle;
    line-height: 60px;
    height:60px;
    width:100%;
    margin-left:auto;
  }

  .account-column {
    text-align: right;
    vertical-align: middle;
    line-height: 60px;
    width:100%;
    height:60px;   

    .input-login {
      vertical-align: middle;
      width: 150px;
      display: inline-block;
      margin-right:6px;
    }

    .btn-login {
      color: #fff;
      font-weight: bold; 
      background-color: #F64646;
      border: 0px solid #C1D2D6;
      border-radius: 2px;
      font-size: 14px;
      height: 32px;
      width: 100px;
      margin-right:6px;
    }

    .btn-refresh {
      color: #fff;
      background-color: #193764;
      border: 1px solid #041734;
      font-size: 14px;
      padding: 1;
      margin-left: 0px;
    }

    .btn-black{
      color: #000;
      font-weight: bold;
      font-size: 11px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .btn-gray{
      color: #000;
      background-image: linear-gradient(#B3CCE4, #CDE5F9);
      font-weight: bold;
      border-radius: 20px;
      font-size: 11px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .input-column {
    padding-top: 12px;
  }

  .label-column {
    color: #fff;
    font-size: 12px;
    text-align: right;
    padding-top: 12px;

    div {
      line-height: normal;
      margin-bottom: 2px;
    }
  }
}

.banner-container {
  position: relative;
  height: 284px;
  // background-image: url("~@/assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: contain;

  .img-banner {
    width: 100%;
  }

  .logo {
    position: absolute;
    max-height: 284px;
    margin-left: 20px;
  }
}

.round-button {
  border-radius: 50px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 850px) {

  .DesktopHeader{
    display: $desktopB;
  }
  
  .MobileHeader{
    display: $mobileB;
  }

  .header-container{
    // background-position: top left -200px; 
    background-color:#000;
    // background-blend-mode: inherit;

    .button-after-login-img{   
      width:17%; 
      height:35%;
    }

    .button-after-login-img-2{   
      width:6%;
      height:35%;
    }

    .logo-container{        
      vertical-align: middle;
      align-self: center;
      align-items: center;
      align-content: center;
      text-align: center;
      width: 10px;
      //display: inline-block;
      /*img{
        height:100%;
      }*/
    }

    .image-logo-container{        
      vertical-align: middle;
      align-self: center;
      align-items: center;
      align-content: center;
      text-align: center;
      height:70px;
      
      //display: inline-block;
      /*img{
        height:100%;
      }*/
    }

    .row-description-container{   
      margin : 0px;
      padding : 0px;
    }

    .description-container{   
      margin-top: 10px;     
      text-align: center;
      vertical-align: middle;
      height: 30px;
    }

    .description-container-2{            
      text-align: center;
      vertical-align: middle;
      height: 60px;
      padding: 0px;
      margin: 0px;
    }

    .text-container{    
      color:white; 
      font-size:10px; 
      align-content: stretch;
      align-self: stretch;
      justify-content: stretch;
      margin:0px 0px 0px 0px;     
      padding:0px; 
      width:100%;
    }
  
    .text-barrier-container{    
      color:white; 
      align-content: stretch;
      align-self: stretch;
      justify-content: stretch;
      margin:0px 8px 0px 8px;   
      font-weight:bold; 
      font-size:10px;
    }

    .account-column-2 {      
      vertical-align: middle;
      width: inherit;
      padding: 0px;
      margin: 0px;
      height:60px;      
    }

    .col-middle
    {
      padding: 0px;
      margin: 0px;
    }

    .account-column{
      line-height: 1;
      height:inherit;
      padding-top:10px;
      padding-bottom:10px;
      margin-left: 30px;
    
      .input-login {
        width: 100%;
        display: inline-block;
        margin-bottom:6px;
      }

      .btn-login {
        color: #fff;
        font-weight: bold; 
        background-color: #F64646;
        border: 0px solid #C1D2D6;
        border-radius: 2px;
        font-size: 14px;
        height: 32px;
        width: 100%;
        display: inline-block;
        margin-bottom:6px;
      }

      .btn-black {
        color: #000;
        background-image: linear-gradient(#B3CCE4, #CDE5F9);
        border-radius: 20px;
        font-weight: bold;
        font-size: 14px;
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 15px;
        padding-right: 15px;
      }

      .btn-gray {
        color: #000;
        background-image: linear-gradient(#B3CCE4, #CDE5F9);
        font-weight: bold;
        border-radius: 20px;
        font-size: 14px;
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
